@model List<SIGECA_Shop.MTOs.CatalogoDTO>

@{
    ViewData["Title"] = "Catálogo";
    ViewBag.Inicio = true;
    ViewBag.HomeActivate = "active";
}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/Catalogo/style.default.css" rel="stylesheet" />
</head>
<section id="catalog" class="menu">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Catálogo</h2>
            <p>Nuestros principales productos</p>
        </div>
    </div>
</section>
<div class="page-holder">
    <!--  Modal detallle de producto -->
    <div class="modal fade" id="productView" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="row align-items-stretch">
                        <div class="col-lg-6 p-lg-0">
                            <a id="modalProducto" class="product-view d-block h-100 bg-cover bg-center" style="background: url(/assets/img/gallery/gallery-1.jpg)" href="img/product-5.jpg" data-lightbox="productview" title="Red digital smartwatch"></a>
                        </div>
                        <div class="col-lg-6">
                            <button class="close p-4" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="p-5 my-md-4">
                                <ul class="list-inline mb-2">
                                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                                </ul>
                                @*id del producto*@
                                <input id="idProducto" type="hidden" />
                                @*end*@
                                <h2 id="nombreProducto" class="h4"></h2>
                                <p class="text-muted">S/. <a id="precioProducto"></a></p>
                                <p class="text-muted">Stock: <a id="stockProducto"></a></p>
                                <p id="descripcionProducto" class="text-small mb-4"></p>
                                <div class="row align-items-stretch mb-4">
                                    <div class="col-sm-5 pl-sm-0"><a id="agregarCarritoModal" class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0" href="javascript:void(0);">Agregar Carrito</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end modal -->
    <!-- lista de catalogo CONTAINER-->
    <div class="container">
        <!-- seccion categorias -->
        <section class="py-5">
            <div class="container p-0">
                <div class="row">
                    <!-- SHOP SIDEBAR CATEGORIAS-->
                    <div class="col-lg-3 order-2 order-lg-1">
                        <div class="py-2 px-4 bg-light mb-3"><strong class="small text-uppercase font-weight-bold">Categorias</strong></div>
                        @*<h5 class="text-uppercase mb-4">Categories</h5>*@
                        <div class="py-2 px-4 bg-dark text-white mb-3"><strong class="small text-uppercase font-weight-bold">Diversos</strong></div>
                        <ul class="list-unstyled small text-muted pl-lg-4 font-weight-normal">
                            <li class="mb-2"><a class="reset-anchor" href="#">Pollo</a></li>
                            <li class="mb-2"><a class="reset-anchor" href="#">Carne</a></li>
                            <li class="mb-2"><a class="reset-anchor" href="#">Otros</a></li>
                        </ul>
                    </div>
                    <!-- SHOP LISTING-->
                    <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                        <div class="row mb-3 align-items-center">
                            <div class="col-lg-6 mb-2 mb-lg-0">
                                <p class="text-small text-muted mb-0">Hay @Model.Count productos en el catalogo</p>
                            </div>
                        </div>

                        <div class="row">
                            <!-- PRODUCT-->
                            @*CONSULTA PRODUCTO*@
                            @foreach (var product in Model)
                            {
                                @if (product.tipoVenta != "" && product.tipoVenta != null)
                                {
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="product text-center">
                                            <div class="mb-3 position-relative">
                                                <div class="badge text-white badge-"></div><a class="d-block" href="detail.html"><img class="img-fluid w-100" src="@product.urlImagen" alt="..."></a>
                                                <div class="product-overlay">
                                                    <ul class="mb-0 list-inline">
                                                        <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="javascript:void(0);" onclick="AgregarCarrito(`@product.id`)">Agregar Carrito</a></li>
                                                        <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" onclick="MostrarInformacion(`@product.id`)" href="#javascript:void(0);" data-toggle="modal"><i class="fas fa-expand"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h6> <a class="reset-anchor" href="detail.html">@product.nombre</a></h6>
                                            <p class="small text-muted">Precio: S/.@product.precio</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- JavaScript files-->
    @*<script src="~/js/Catalogo/vendor/jquery.min.js"></script>*@
    <script src="~/js/Catalogo/vendor/boostrap-select.min.js"></script>
    <script src="~/js/Catalogo/vendor/owl.carousel2.thumbs.min.js"></script>
    <script src="~/js/Catalogo/vendor/boostrap.bundle.min.js"></script>
    <script src="~/js/Catalogo/vendor/lightbox.min.js"></script>
    <script src="~/js/Catalogo/vendor/nouislider.min.js"></script>
    <script src="~/js/Catalogo/vendor/owl.carousel.min.js"></script>
    <script src="~/js/Catalogo/front.js"></script>
    <script src="~/js/Catalogo.js"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</div>